spring:
  datasource:
    url: jdbc:postgresql://postgres-auth:5432/authdb
    username: postgres
    password: postgres

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

server:
  port: 8089
